<script>
    var pre=document.getElementById('loading');
    function preLoader(){
        pre.classList.add("vanish");
    }
</script>

<!--Scroll-effect-->
<script src="/js/aos.js"></script>
  <script>
    AOS.init({
        offset : 20,
        duration :2000
    });
  </script>




</body>
</html>