<section class="fun_events" id="fun_events">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> FUN ACTIVITIES </h1><br>
        <hr data-aos="slide-up" id="rule">
    </div>

    <div>
        <p id="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio beatae quaerat atque ut
            earum culpa voluptatibus tempora temporibus et qui? Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Vitae in error hic amet. Pariatur non, velit eius sapiente explicabo reiciendis!</p>
    </div>

    <div class="fun">

        <div class="events">
            <div class="h1 h"> <a href="#">Lorem, ipsum. </a> </div>
            <div class="hide1"> <img src="/img/card1.png" alt=""> </div>
            <div class="h2 h"> <a href="#">Lorem, ipsum. </a> </div>
            <div class="hide2"> <img src="/img/card1.png" alt=""> </div>
            <div class="h3 h"> <a href="#">Lorem, ipsum. </a> </div>
            <div class="hide3"> <img src="/img/card1.png" alt=""> </div>
            <div class="h4 h"> <a href="#">Lorem, ipsum. </a> </div>
            <div class="hide4"> <img src="/img/card1.png" alt=""> </div>
            <div class="h5 h"> <a href="#">Lorem, ipsum. </a> </div>
            <div class="hide5"> <img src="/img/card1.png" alt=""> </div>


        </div>

    </div>

    <div style="text-align:center;">
        <i class="fa fa-arrow-circle-up" onclick="upArrow()" aria-hidden="true"></i>
    </div>

</section>