<%- include('header') %>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In tempore pariatur obcaecati eligendi, excepturi sapiente delectus quisquam inventore reiciendis molestiae.</p>
<%- include('footer') %>  