<section class="alumni">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> ALUMNI TALKS </h1><br>
        <hr data-aos="slide-up" id="rule">
    </div>



</section>