<section class="department" id="department">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 1%;"> DEPARTMENTAL GET-TOGETHER </h1><br>
        <hr data-aos="slide-up" id="rule" style="width: 55%;">
    </div>



    <!--  -->
    <div class="slideshow-container">

        <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/1.jpg" style="width:80%; ">
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/2.jpg" style="width:80%; ">
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/3.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/4.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/5.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/6.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/7.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/8.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/9.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/10.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/11.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/12.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/13.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/14.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/15.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/16.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/17.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/18.jpg" style="width:80%; ">
            
          </div>
          
          <div  class="mySlides fade" style="text-align: center;">
            <div class="numbertext"> </div>
            <img src="img/slide/19.jpg" style="width:80%; ">
            
          </div>
          
          
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div>

        <div style="text-align:center;">
            <i class="fa fa-arrow-circle-up" style="color: #fff;" onclick="upDepartment()" aria-hidden="true"></i>
        </div>
    
    <!--  -->
</section>