<section class="fun_events">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> FUN ACTIVITIES </h1><br>
        <hr data-aos="slide-up" id="rule">
    </div>

    <div>
        <p id="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae aliquam quidem cumque
            repellat harum nam
            omnis magnam delectus possimus illum ipsam perspiciatis suscipit repudiandae excepturi sint, corporis
            provident incidunt amet veniam rem, facilis consequuntur voluptates porro praesentium! Consectetur, possimus
            voluptatibus.</p>
    </div>

    <div class="events">
        <p class="myDiv"><a href="#">Lorem, ipsum.</a></p>
        <div class="hide">
            <img src="/img/Activities_card_images.jpg">
        </div>
        <p class="myDiv"><a href="#">Lorem, ipsum.</a></p>
        <div class="hide">
            <img src="/img/Activities_card_images.jpg">
        </div>
        <p class="myDiv"><a href="#">Lorem, ipsum.</a></p>
        <div class="hide">
            <img src="/img/Activities_card_images.jpg">
        </div>
        <p class="myDiv"><a href="#">Lorem, ipsum.</a></p>
        <div class="hide">
            <img src="/img/Activities_card_images.jpg">
        </div>
        <p class="myDiv"><a href="#">Lorem, ipsum.</a></p>
        <div class="hide">
            <img src="/img/Activities_card_images.jpg">
        </div>
    </div>








</section>