<%- include('partials/header') %>
<div id="loading">
    
</div> 

 <section class="header" id="header">
     <nav>
         <a href="/">
             <img data-aos="slide-right" src="/img/soce_logo_white.png" alt="" id="logo"></a>
             <div class="nav-links" id="nav-links">
                <i class="fa fa-times" onclick="hideMenu()" aria-hidden="true"></i>
                 <ul>
                     <li data-aos="slide-left"><a href="">Home</a></li>
                     <li data-aos="slide-left"><a href="">About</a></li>
                     <li data-aos="slide-left"><a href="">Contact</a></li>
                     <li data-aos="slide-left"><a href="/activities">Activities</a></li>
                     <li data-aos="slide-left"> <a href="/department">Department</a> </li>
                     <li data-aos="slide-left"><a href="">Student Section</a></li>
                 </ul>
             </div>
             <i class="fa fa-bars" onclick="showMenu()" aria-hidden="true"></i>
     </nav> 

     <div  class="text-box">
         <h1 data-aos="slide-right">Society of</h1>
         <h1 data-aos="slide-right">Civil</h1>
         <h1 data-aos="slide-right">Engineers</h1>
         <p >"THE ROAD TO SUCCESS <br> IS ALWAYS UNDER CONSTRUCTION !"</p>
     </div>
     <div>
        <i class="fa fa-arrow-circle-down" id="down" onclick="about()" aria-hidden="true"></i>
     </div>
 </section>

 <section  class="section1" id="abouts" >
    
    <div class="content-box">
        <h1 data-aos="slide-right">About Us</h1>
        <p data-aos="slide-right">SOCE (Society of Civil Engineers, IIT Kanpur) is a student body. 
            It serves as a link between enrolled Civil Engineering students, alumni and professors at IIT Kanpur. 
            This society is an effort to allow free communication and sharing of ideas and information among all.</p>
            <a href="about">       
                <p data-aos="slide-right"> Read More &gt;</p> 
            </a>
            
    </div>
    <div>
        <i class="fa fa-arrow-circle-down" id="down" style="left: 15%;" onclick="highlights()" aria-hidden="true"></i>
    </div>

</section>

<!-- Main Highlights -->
<section  class="Main_Highlights" id="highlights">

    <h1 data-aos="slide-right">Main Highlights</h1>
    <p data-aos="slide-right">Get to know about your branch related faculties and the events organised by SoCE for you to get the feel of your branch and future possiblities for you in Civil engineering.</p>
  
    <div class="card_deck">
  
      <div data-aos="zoom-in" class="card">
        <img class="card_image" src="/img/Student sec.jpg" alt="Student-section" >
  
          <h3>Student section</h3>
  
      </div>
  
      <div data-aos="zoom-in" class="card">
        <img class="card_image" src="/img/Department.jpg" alt="Department" >
  
          <h3>Department</h3>
  
      </div>
  
      <div data-aos="zoom-in" class="card">
        <img class="card_image" src="/img/Activities.jpg" alt="Activities">
  
          <h3>Activities</h3>
  
      </div>
  
    </div>

    <div style="text-align: center;">
        <i class="fa fa-arrow-circle-down" id="high" onclick="recent()" aria-hidden="true"></i>
    </div>
</section>
  
<section  class="recent" id="recent">
    <div>
    <h1 data-aos="slide-right">Recent Activities</h1>
    </div>
<div class="recent1">
    <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="radio" name="select" id="tap-2">
        <input type="radio" name="select" id="tap-3">
        <input type="checkbox" id="imgTap">
        <div class="sliders">
          <label for="tap-1" class="tap tap-1"></label>
          <label for="tap-2" class="tap tap-2"></label>
          <label for="tap-3" class="tap tap-3"></label>
        </div>
        <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-1" src="/img/2009.jpg">
          </label>
          <div class="content content-1">
            <span>26 December 2017</span>
            <div class="title">Lorem Ipsum Dolor</div>
            <div class="rtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!</div>
            <button>Read more</button>
          </div>
        </div>
        <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-2" src="/img/2009.jpg">
          </label>
          <div class="content content-2">
            <span>26 December 2018</span>
            <div class="title">Lorem Ipsum Dolor</div>
            <div class="rtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut consectetur numquam ullam fuga animi laudantium nobis rem molestias.</div>
            <button>Read more</button>
          </div>
        </div>
        <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-3" src="/img/2009.jpg">
          </label>
          <div class="content content-3">
            <span>26 December 2019</span>
            <div class="title">Lorem Ipsum Dolor</div>
            <div class="rtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi nemo commodi sint eum ipsam odit atque aliquam officia impedit.</div>
            <button>Read more</button>
          </div>
        </div>
      </div>
    </div>
  
    <div style="text-align: center;">
        <i class="fa fa-arrow-circle-down" style="margin:0%;" id="high" onclick="contact()" aria-hidden="true"></i>
    </div>
<!--  -->

</section>

</section>

<section  class="contact-us" id="contact-us">
    <h1 data-aos="slide-right">Contact us</h1>
    <div>
        <h3 data-aos="slide-right"><i  class="fa fa-envelope" aria-hidden="true"></i>Email</h3>
        <p data-aos="slide-right">SoCE@iitk.ac.in</p>
        <h3 data-aos="slide-right"><i  class="fa fa-phone" aria-hidden="true"></i>Phone Number</h3>
        <p data-aos="slide-right">(123) 456-7890</p>
        <h3 data-aos="slide-right"><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h3>
        <p data-aos="slide-right">IITK, Kalyanpur, Kanpur, Uttar Pradesh 208016</p>
        <br>
        <br>
        <br>
        <div data-aos="zoom-in" class="icon">
            <a href="#" class="mbr-iconfont socicon-facebook socicon social
            " aria-hidden="true"></a>
            <a href="#" class="mbr-iconfont socicon-instagram socicon social
            " aria-hidden="true"></a>
            <a href="#" class="mbr-iconfont socicon-linkedin socicon  social
            " aria-hidden="true"></a>

        </div>
        
    

    </div>

    <div style="text-align: center; margin-top: 8%;">
        <i class="fa fa-arrow-circle-up" id="high" onclick="header()" aria-hidden="true"></i>
    </div>
   
</section>

<script>
    var navLinks=document.getElementById("nav-links");
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-75vw";
    }
    var temp=document.getElementById('abouts');
    function about(){
        temp.scrollIntoView(); 
    }

    var high=document.getElementById("highlights");
    function highlights(){
        high.scrollIntoView();
    }

    var rec=document.getElementById("recent");
    function recent(){
        rec.scrollIntoView();
    }

    var cont=document.getElementById("contact-us");
    function contact(){
        cont.scrollIntoView();
    } 

    var head=document.getElementById("header");
    function header(){
        head.scrollIntoView();
    }
</script>

<%- include('partials/footer') %>