<section class="placement">
    <div class="alpha">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 1%;"> PLACEMENT POSTULATES </h1><br>
        <hr data-aos="slide-up" id="rule" style="width: 45%;">
    </div>
</section>