<section class="strength" id="strength">
    <div class="alpha" style="margin-bottom: 5%;">
        <h1 data-aos="slide-down" class="activities_heading" style="margin-top: 3%;"> STRENGTHS </h1><br>
        <hr data-aos="slide-up" id="rule">
    </div>
    <div data-aos="zoom-in" class="strengths_card_deck">
  
        <div class="strengths_card">
          <img class="strengths_card_image" style="height: 300px; width: 250px;" src="/img/Activities_card_images.jpg" alt="image not found" >
    
            <h3 style="width: 220px;">2008</h3>
            
    
        </div>
    
        <div data-aos="zoom-in" class="strengths_card">
          <img class="strengths_card_image" style="height: 300px; width: 250px;" src="/img/Activities_card_images.jpg" alt="image not found" >
    
            <h3 style="width: 220px;">2009</h3>
            
    
        </div>
    
        <div data-aos="zoom-in" class="strengths_card">
          <img class="strengths_card_image" style="height: 300px; width: 250px;" src="/img/Activities_card_images.jpg" alt="image not found">
    
            <h3 style="width: 220px;">2007</h3>
            
    
        </div>

        <div data-aos="zoom-in" class="strengths_card">
            <img class="strengths_card_image" style="height: 300px; width: 250px;" src="/img/Activities_card_images.jpg" alt="image not found">
      
              <h3 style="width: 220px;">2021</h3>
                    
          </div>
    
      </div>

      <div style="text-align:center;">
        <i class="fa fa-arrow-circle-up" style="color: white; margin-top: 6%;" onclick="upStrength()" aria-hidden="true"></i>
    </div>

</section>